body {
  margin:0 10px;
  background-color: #F0F0F0;
  background-image: url("snow3.gif");
  background-size: cover;
}
.App {
  font-family: 'Open Sans', sans-serif;
  max-width:600px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  background-color: #B8BCBF;
}
#userInput {
  display: flex;
  flex-direction: column;
}
#userInput div{
  width: 100%;
  margin: auto;
}
#userInput input{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  /* color: #333; */
  /* background-color:rgba(135, 206, 235, 0.3); */
  background-color:rgba(255, 255, 255, 0.3);
}
#firstLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#userInput label{
  display: block;
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
button {
  display: block;
  width: 250px;
  margin: 5px auto 15px;
  padding: 18px;
  border: 3px solid #b01b1f;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;
  color: #b01b1f;
  font-size: 1.5em;
  line-height: 27px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms ease 0s; 

}

#button:hover{
  background-color: #b01b1f;
  color:rgba(255, 255, 255);
}
.submitBtn {
  /* margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto; */
  display: block;
  color: #b01b1f;
  font-size: 1.3em;
  transition: 300ms ease 0s; 
}
.submitBtn:hover{
  background-color: #b01b1f;
  color:#fff;
}

.submitBtn, .adminBtn {
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  display: block;
  transition: 300ms ease 0s; 
}

.adminBtn:hover{
  background-color: #b01b1f;
  color:#fff;
}

.editField{
  margin: 20px 0;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.clear {
  clear:both;
}
.emailListed{
  float:right;
  margin-right: 2rem;
}
.editControls{
  display: none;
}
.editGui {
  margin-bottom: 20px;
}
.editGui button {
  width: 10em;
  /* margin-right: 1em; */
}
.editGui input {
  width: 50%;
  padding: 5px;
}
#doneButton{
  /* display: block; */
  font-size: 1.3em;

  display: none;
}
#doneButton:hover{
  background-color: #b01b1f;
  color:rgba(255, 255, 255);
}
#editPasscodeInput{
  visibility: hidden;
}